<div class="m-2 text-zinc-900">
    <%= form_with model: @producto do |form|%>
        <div>
            <%= form.label :title, "Titulo", class:"text-zinc-700"  %>:
            <%= form.text_field :title, class:"w-full my-2 rounded-xl text-gray-600 bg-white border-zinc-600 text-xs sm:text-base", placeholder: 'Nombre del articulo' %>
        </div>
        <div>
            <%= form.label :description, "Descripcion", class:"text-zinc-700"  %>:
            <%= form.text_area :description, class:"w-full my-2 rounded-xl text-gray-600 bg-white border-zinc-600 text-xs sm:text-base", placeholder: 'Detalles del articulo' %>
        </div>
        <div>
            <%= form.label :price, "Precio", class:"text-zinc-700"  %>:
            <%= form.text_field :price, class:"w-full my-2 rounded-xl text-gray-600 bg-white border-zinc-600 text-xs sm:text-base", placeholder: 'Costo Neto' %>
        </div>
        <div class="text-zinc-700" > Categoria: 
            <%= form.collection_select :category_id,  Category.all.order(name: :asc), :id, :name ,  class:"my-3 p-2 text-zinc-700"%>
        </div>
        <div class="text-zinc-700" >
            <%= form.label :photo, "Agregar Imagen", class:"text-zinc-700"  %>:
            <%= form.file_field :photo, class:"w-full my-2 p-1"  %>
        </div>
        <br>
        <button class="px-2 py-1 rounded-xl border-2 border-zinc-300 text-zinc-600 bg-zinc-100 font-bold text-sm center">
            Listo
        </button>
    <% end %>
</div>